In [313]:
#python is a dynamically typed language(which means no neeed to declare the type)

n = 2
print('n =' , n)

n = "abc"
print('n =' , n)

n = 2
n = abc

In [314]:
#Multiple assignments

n , m = 3 , "satya"
print(n , m)

3 satya

In [315]:
#Increment
n = 5

n = n + 1 #good
print('n =' , n)


n += 1 #great
print('n =' , n)


# a++.  #bad

n = 6
n = 7

In [316]:
#None is null

n = None
print('n =' , n)

n = None

In [317]:
#If statements don't need paranthesis
#or curly braces

n = 1
if n > 2:
  n -= 1

elif n == 2:
  n *= 2

else :
  n /= 2

In [318]:
#Paranthesis needed for multiline conditions
# and = &&
# or = ||

if ((n >= 2 and n < 4) or n == 5):
  n += 1

In [319]:
#while loops are similar
n = 0
while n < 5:
  print(n)
  n += 1

0
1
2
3
4

In [320]:
# for loop from i = 0 to i = 4
for i in range(5):
  print(i)

0
1
2
3
4

In [321]:
#printing a number from 2 to 5
for i in range(2, 6):
  print(i)

2
3
4
5

In [322]:
#printing from 5 to 1 in reverse order
for i in range(5, 0 , -1):
  print(i)

5
4
3
2
1

In [323]:
#Division in decimal by default

print(5 / 2)

2.5

In [324]:
#Double slash // for integer division

print(5 // 2)

2

In [325]:
#most languages rounds towards 0
#by default so negative numbers will round down

print(-3 // 2) # - 1.5

-2

In [326]:
#To round towards zero
#use decimal division and convert to int
print(int(-3/2))

-1

In [327]:
#modding similar to most languages(finding remainder)
print(10 % 3)

1

In [328]:
#except for negative values
print(-10 % 3)

2

In [329]:
# To be consistent other languages modulo
import math
print(math.fmod(-10 , 3))

-1.0

In [330]:
#important math functions

print(math.sqrt(25))
print(math.floor(3 / 2))
print(math.ceil(3/2))
print(math.pow(2, 3))

5.0
1
2
8.0

In [331]:
#max , min values

float("inf")
float("-inf")

-inf

In [332]:
#python numbers are infinite so they never overflow
print(math.pow(2, 200))

1.6069380442589903e+60

In [333]:
#still all are less than infinity

print(math.pow(2, 200) < float("inf"))

True

In [334]:
#Arrays (called lists in python)

arr = [1,2,3,4]
print(arr)

[1, 2, 3, 4]

In [335]:
#can be used as stack

arr.append(5)
print(arr)

[1, 2, 3, 4, 5]

In [336]:
arr.pop()
print(arr)

[1, 2, 3, 4]

In [337]:
#inserting an element in array (O(n) time complexity , others are O(1))

arr.insert(1, 7)
print(arr)

[1, 7, 2, 3, 4]

In [338]:
#change in array
arr[3] = 9
print(arr)

[1, 7, 2, 9, 4]

In [339]:
# careful !!!! -1 not out of bound(it gives last , -2 gives 2nd last)

arr = [1 ,2 ,3 , 4]
print(arr[-1])
print(arr[-2])

4
3

In [340]:
# sublists (aka slicing)similar to for-loop ranges,

arr = [1 ,2 ,3, 4]
print(arr[1:3])

[2, 3]

In [341]:
print(arr[0:4])

[1, 2, 3, 4]

In [342]:
#unpacking

a , b , c , d = arr
print(a, b, c, d)

1 2 3 4

In [343]:
# Loop through arrays

nums = [1 , 2 , 3 , 4]

In [344]:
# Using index

for i in range(len(nums)):
  print(nums[i])

1
2
3
4

In [345]:
#without index

for num in nums:
  print(num)

1
2
3
4

In [346]:
for i, n in enumerate(nums):
  print(i, n)

0 1
1 2
2 3
3 4

In [347]:
#loop through multiple arrays samultanously
#with unpacking

nums1 = [1 , 3 , 5 , 0]
nums2 = [2 , 6 , 7 , 8]

for num1,num2 in zip(nums1 , nums2):
  print(num1, num2)

1 2
3 6
5 7
0 8

In [348]:
#Reverse an array

nums = [1 , 2 , 3 , 4]
nums.reverse()
print(nums)

[4, 3, 2, 1]

In [349]:
#sorting an array

arr = [5, 4, 7, 3, 8, 10]
arr.sort()
print(arr)

[3, 4, 5, 7, 8, 10]

In [350]:
arr.sort(reverse = True)
print(arr)

[10, 8, 7, 5, 4, 3]

In [351]:
arr = ["bob" , "alice" , "jane" , "satya" , "subham", "prasad"]
arr.sort()
print(arr)

['alice', 'bob', 'jane', 'prasad', 'satya', 'subham']

In [352]:
arr.sort(key = lambda x : len(x))
print(arr)

['bob', 'jane', 'alice', 'satya', 'prasad', 'subham']

In [353]:
#List comprehension

arr = [i+i for i in range(5)]
print(arr)

[0, 2, 4, 6, 8]

In [354]:
arr = [2] * 5
print(arr)

[2, 2, 2, 2, 2]

In [355]:
#2-D lists

In [356]:
arr = [[0] * 5] * 5
print(arr)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [357]:
arr[1][2] = 1
print(arr)

[[0, 0, 1, 0, 0], [0, 0, 1, 0, 0], [0, 0, 1, 0, 0], [0, 0, 1, 0, 0], [0, 0, 1, 0, 0]]

In [358]:
#strings
s = 'satya'
print(s[0:2])

sa

In [359]:
#concatination of string
s += 'someone nice'
print(s)

satyasomeone nice

In [360]:
#valid numeric strings can be comverted
print(int('123')+1)

124

In [361]:
#ASCII value of a char
print(ord('a') , ord('z'))
print(ord('A'), ord('Z'))

97 122
65 90

In [362]:
#combine string with delimiter

stri = ['abc' , 'def' , 'ghi']
print('.'.join(stri))

abc.def.ghi

In [363]:
#Queues (double-ended by default)
from collections import deque
queue = deque()

In [364]:
#default appends and pops to right
queue.append(1)
queue.append(2)
queue.append(3)
print(queue)
queue.pop()
print(queue)

deque([1, 2, 3])
deque([1, 2])

In [365]:
#left pop and append
queue.popleft()
print(queue)
queue.appendleft(3)
print(queue)

deque([2])
deque([3, 2])

In [366]:
#Hashset(constant time search)
mySet = set()
mySet.add(1)
mySet.add(2)
mySet.add(3)
print(mySet)

{1, 2, 3}

In [367]:
print(len(mySet))

3

In [368]:
print(1 in mySet)
print(4 in mySet)

True
False

In [369]:
#removing a value
mySet.remove(2)
print(mySet)

{1, 3}

In [370]:
# list to set
print(set([1 , 2 , 3 , 4]))

{1, 2, 3, 4}

In [371]:
# Set comprehension
mySet = {i**2for i in range(5)}
print(mySet)

{0, 1, 4, 9, 16}

In [372]:
#HasMap(aka Dictionary)
myMap = {}
myMap['satya'] = 1
myMap['subham'] = 3
myMap['prasad'] = 7
print(myMap)

{'satya': 1, 'subham': 3, 'prasad': 7}

In [373]:
print(len(myMap))

3

In [374]:
myMap['satya'] = 8
print(myMap)

{'satya': 8, 'subham': 3, 'prasad': 7}

In [375]:
myMap = {'soldier boy' : 1 , 'butcher' : 2 , 'homelander' : 3}
print(myMap)

{'soldier boy': 1, 'butcher': 2, 'homelander': 3}

In [376]:
myMap = {i : i**2 for i in range(5)}
print(myMap)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [377]:
#Looping through Hashmaps
for key in myMap:
  print(key , myMap[key])

for val in myMap.values():
  print(val)

for key , val in myMap.items():
  print(key , val)

0 0
1 1
2 4
3 9
4 16
0
1
4
9
16
0 0
1 1
2 4
3 9
4 16

In [378]:
#tuples (like arrays immutable)

tup = ( 1  , 2 , 3 , 4)
print(tup)
print(tup[1])

# tup[1] = 5 (not possible)

(1, 2, 3, 4)
2

In [379]:
#mostly used for key with hashMap (array/list cannot be used as keys)

myMap = {(1,2) : 3 , (4,5) :6 }
print(myMap[(1,2)])
print(myMap)

#array/list can't be used as key
# myMap[[7,8]] = 0

3
{(1, 2): 3, (4, 5): 6}

In [380]:
print((1,2) in myMap)

True

In [381]:
#tuples for HashSet

mySet = set()
mySet.add((1,2))
mySet.add((3,4))
print(mySet)

{(1, 2), (3, 4)}

In [382]:
#Heaps

import heapq

#under the hoods are arrays
minHeap = []
heapq.heappush(minHeap , 3)
heapq.heappush(minHeap , 2)
heapq.heappush(minHeap , 7)
heapq.heappush(minHeap , -4)

print(minHeap)

[-4, 2, 7, 3]

In [383]:
heapq.heappop(minHeap)
print(minHeap)

[2, 3, 7]

In [384]:
#No max Heaps by default , use minHeap and multiply by -1 , perform operations and multiply by -1 again ...... yayyy!!!!!!

maxHeap = []

heapq.heappush(maxHeap , -3)
heapq.heappush(maxHeap , -2)
heapq.heappush(maxHeap , -7)
heapq.heappush(maxHeap , -6)
heapq.heappush(maxHeap , -10)

print(-1 * maxHeap[2])

3

In [385]:
while len(maxHeap):
  print(-1 * heapq.heappop(maxHeap))

10
7
6
3
2

In [386]:
arr = [2 , 1, 4 , 7 , 9]
heapq.heapify(arr)
print(arr)

while arr:
  print(heapq.heappop(arr))

[1, 2, 4, 7, 9]
1
2
4
7
9

In [387]:
#Functions

def addFunc(a , b):
  return a + b

print(addFunc(1 , 2))

3

In [389]:
#Nested functions have access to outer variables

def outer(a , b):
  c = 2
  def inner():
    return a+b+c
  return inner()


print(outer(1 , 2))

5

In [396]:
#Can modify objects but cannot reassign
#unless using nonlocal keyword

def double(arr , val):
  def helper():
    #Modifiying array works
    for i , n in enumerate(arr):
      arr[i] *= 2

    #will only modify val in the helper scope
    #val *= 2

    #this will modify val outside helper scope
    nonlocal val
    val *= 2

  helper()
  print(arr , val )


nums = [1 , 2 ]
value = 3
double(nums , value)

[2, 4] 6

In [397]:
class myClass:
  def __init__(self , name):
    self.name = name
    self.size = len(name)

  def return_size(self):
    return self.size

  def return_double_size(self):
    return 2 * self.size